@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #f5f5f5;
}

/* Nav-bar Styling */
nav {
  background: #232f3e;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1.125rem;
}

.search-container input,
button {
  padding: 0.3125rem 0.625rem;
  border: none;
  font-size: 1rem;
}

.search-container input {
  border-radius: 3px 0 0 3px;
}

.search-container button {
  border-radius: 0 3px 3px 0;
  background: #f5c518;
  cursor: pointer;
  transition: all 0.2s;
}

.search-container button:hover {
  background: #ffdd45;
}

/* Main movie section styling */

main{
  max-width: 75rem;
  margin: 0 auto;
  margin-block: 2.375rem;
}

main section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 72vh;
}

.movie-container{
  display: flex;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 0px 10px #ccc;
  width: 80%;
  border-radius: .3125rem;
}

.movie-poster img{
  height: 28.125rem;
  margin-right: 1.875rem;
  border-radius: 5px 0 0 5px;
}

.movie-info{
  padding-inline: 15px;
  
}
.movie-info h2{
  text-align: center;
  font-size: 2rem;
  margin: 1.25rem 0 12px 0;
}

.movie-info h2+p{
  text-align: center;
}

.movie-info .movie-genre{
  display: flex;
  justify-content: center;
  margin-block: .3125rem;
  overflow-x: auto;
}

.movie-info .movie-genre p{
  background: #232f3e;
  color: #ffffff;
  padding: .3125rem .875rem;
  margin-inline: .3125rem;
  border: 2px solid #000000;
  border-radius: 6px;
  font-weight: 700;
}

.movie-info p{
  font-size: 1.125rem;
  margin-block: 1rem;
  line-height: 1.5rem;
}

.movie-container.noBackground{
  background: none;
  box-shadow: none;
  align-items: center;
}

/* Footer styling */

footer{
  text-align: center;
  background: #232f3e;
  color: #ffffff;
  padding-block: 1.25rem;
  margin-top: 2.5rem;
  font-size: 1.25rem
}


/* Responsive Code */
@media screen and (max-width:950px) {
  .movie-container{
    flex-direction: column;
  }

  .movie-poster img{
    width: 100%;
    height: fit-content;
    margin-right: 0;
  }

  .movie-info{
    padding-inline: 1.875rem;
  }
}

@media screen and (max-width:630px){
  .navbar{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .search-container{
    margin-top: .75rem;
  }

  
}